*.jpg
*.png
*.ogg
*.mp3
*.wav
*.m4p
*.pdf
*.doc
*.docx
*.xlsx
*.xls
*.sql
*static/img/*
*static/media/*
*/media/*
.env
*.code-workspace
*.pyc
*.svg
!*migrations/_init_.py
*migrations/*
db.sqlite3
.vscode/
docker-build/
.vscode/
static/CACHE/*
Lib/
Scripts/
docker-build/
.env-postgresql
virtualenv/
*.log
*.pid
